head
    title Smash Tournament Thumbnail Generator

template(name='Home')
    .container
        .navbar.navbar-default.navbar-static-top(role='navigation')
            .container-fluid
                .navbar-brand(href="/") Smash Tournament Thumbnail Generator v1.0
                .navbar-right.login {{> loginButtons}}
        if loggedIn
            .template-container {{> ImageSetContainer }}
        else
            .login-notification
                .panel.panel-primary
                    .panel-heading Notice:
                    .panel-body
                        .notice-text If you sign in, you can add your own backgrounds and overlays to customize your thumbnails!
        canvas#thumbnail(width='640', height='360', style='border:1px solid #000000;')
            | Your browser does not support the HTML5 canvas tag.
        .panel.panel-default.thumbnail-params
            .panel-body
                .col-md-4
                    .form-group
                        label(for='player1-name') Name:
                        .input-group
                            input.form-control.player1-name(type='text', value='P1 Name', aria-describedby='player1_name', maxlength='18')
                    .form-group
                        label(for='player1-character') Character:
                        select.form-control.player1-character
                            each characters
                                option(value=id) {{ name }}
                    .form-group
                        label(for='match-type') Match Type:
                        select.form-control.match-type
                            each match_types
                                option(value=name) {{ name }}
                .col-md-4
                    .form-group
                        label(for='tournament-name') Tournament Name:
                        input-group
                            input.form-control.tournament-name(type='text', value='Tournament Name', maxlength='25')
                .col-md-4
                    .form-group
                        label(for='player2-name') Name:
                        .input-group
                            input.form-control.player2-name(type='text', value='P2 Name', aria-describedby='player2_name', maxlength='18')
                    .form-group
                        label(for='player2-character') Character:
                        select.form-control.player2-character
                            each characters
                                option(value=id) {{ name }}
                    .form-group
                        label(for='tournament-date') Date:
                        .input-group.datetimepicker
                            input.set-due-date.form-control.tournament-date(type='text')
                            span.input-group-addon
                                span.glyphicon.glyphicon-calendar
    div {{> ErrorModal }}
    div {{> SuccessModal }}

template(name="ImageSetContainer")
    .col-md-8
        .panel.panel-default
            .panel-heading Add Custom Template
            .panel-body
                .form-group
                    label(for='pwd') Name:
                    .input-group#pwd
                        input.form-control.file-upload-name(type='text', placeholder="Template Name", maxlength='16')
                        .input-group-btn
                            button.btn.btn-primary.upload-imageset(type='button') Upload Template
                .form-group
                    label(for='bg') Background (640x360 png):
                        a(href="/img/bg_default.png", target="_blank") Sample Background
                    .input-group#bg
                        span.input-group-btn
                            span.btn.btn-primary.btn-file Browse…
                                input.file-upload-background(type='file', multiple='')
                        input.form-control.btn-file-display-background(type='text', readonly='')
                .form-group
                    label(for='overlay') Overlay (640x360 png):
                        a(href="/img/overlay_default.png", target="_blank") Sample Overlay
                    .input-group#overlay
                        span.input-group-btn
                            span.btn.btn-primary.btn-file Browse…
                                input.file-upload-overlay(type='file', multiple='')
                        input.form-control.btn-file-display-overlay(type='text', readonly='')
    .col-md-4
        .form-group
            .btn-group
                button.btn.btn-default.dropdown-toggle.template-select-button(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                    | Select Template
                    span.caret
                ul.dropdown-menu
                    if image_sets_exists
                        each image_sets
                            +ImageSet
                    else
                        li No templates! Add one in the pane to the left


template(name='ImageSet')
    li.imageset-choice
        .container-fluid
            canvas.navbar-left(width='36', height='20', style='border:1px solid #000000;', imageset-thumbnail="true")
            .navbar-right.imageset-text {{name}}
                span.glyphicon.glyphicon-remove.remove-button(aria-hidden='true')

template(name='ErrorModal')
    #errorModal.modal.fade
        .modal-dialog.modal-sm
            .modal-content
                .modal-header-danger
                    .container-fluid
                        h4.navbar-left.modal-title.error-modal-title Error
                        span.navbar-right.glyphicon.glyphicon-remove.remove-button(aria-hidden='true', data-dismiss='modal')
                .modal-body
                    .error-text This is an error

template(name='SuccessModal')
    #successModal.modal.fade
        .modal-dialog.modal-sm
            .modal-content
                .modal-header-success
                    .container-fluid
                        h4.navbar-left.modal-title.success-modal-title Success!
                        span.navbar-right.glyphicon.glyphicon-remove.remove-button(aria-hidden='true', data-dismiss='modal')
                .modal-body
                    .success-text Successfully Uploaded!
