/* CSS declarations go here */
body {
    font-family: sans-serif;
    background-color: #315481;
    background-image: linear-gradient(to bottom, #315481, #918e82 100%);
    background-attachment: fixed;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    padding: 0;
    margin: 0;

    font-size: 14px;
}

.container {
    max-width: 830px;
    margin: 0 auto;
    min-height: 100%;
    background: white;
}

header {
    background: #d2edf4;
    background-image: linear-gradient(to bottom, #d0edf5, #e1e5f0 100%);
    padding: 20px 15px 15px 15px;
    position: relative;
    flex-wrap: wrap;
}

#login-buttons {
    display: block;
}

.bruh {
    margin-right: 15px;
    margin-top: 8px;
}

h1 {
    font-size: 1.5em;
    margin: 0;
    margin-bottom: 10px;
    display: inline-block;
    margin-right: 1em;
}

form {
    margin-top: 10px;
    margin-bottom: -10px;
    position: relative;
}

.new-email input {
    box-sizing: border-box;
    padding: 10px 0;
    background: transparent;
    border: none;
    width: 100%;
    padding-right: 80px;
    font-size: 1em;
}

.new-email input:focus{
    outline: 0;
}

ul {
    margin: 0;
    padding: 0;
    background: white;
}

.delete {
    float: right;
    font-weight: bold;
    background: none;
    font-size: 1em;
    border: none;
    position: relative;
}

li {
    position: relative;
    list-style: none;
    padding: 15px;
    border-bottom: #eee solid 1px;
}

li .text {
    margin-left: 10px;
}

li.checked {
    color: #888;
}

li.checked .text {
    text-decoration: line-through;
}

li.private {
    background: #eee;
    border-color: #ddd;
}

header .hide-completed {
    float: right;
}

.toggle-private {
    margin-left: 5px;
}

@media (max-width: 600px) {
    li {
        padding: 12px 15px;
    }

    .search {
        width: 150px;
        clear: both;
    }

    .new-email input {
        padding-bottom: 5px;
    }
}

div.input{
    background: white;
    padding: 10px 15px 15px;
}

.login{
    padding: 17px;
}

#thumbnail {
    width: 100%;
}

.p1-group {
    margin-bottom: 30px;
}

.p2-group {
    margin-bottom: 30px;
}

.match-type {
    margin-bottom: 30px;
}

.tournament-name {
    margin-bottom: 30px;
}

.video-file {
    margin-bottom: 30px;
}

.video-title {
    margin-bottom: 30px;
}

.video-description {
    margin-bottom: 30px;
}

h4.sign-in-notice {
  margin-top: 30px;
  margin-left: 15px;
}

input.form-control.tournament-name {
  margin-bottom: 30px;
}

.jqDropZone {
    background: lightgrey;
    width: 150px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-weight: bold;
}
.jqDropZone.in {
    width: 600px;
    height: 200px;
    line-height: 200px;
    font-size: larger;
}
.jqDropZone.hover {
    background: lawngreen;
}
.jqDropZone.fade {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    opacity: 1;
}

.progress {
    margin-top: 30px;
}