head
    title Smash Tournament Thumbnail Generator
    script(src='https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.8.0/lodash.min.js')

template(name='Home')
    .container
        .navbar.navbar-default.navbar-static-top(role='navigation')
            .container-fluid
                .navbar-brand(href="/") Smash Tournament Thumbnail Generator
                .navbar-right.login {{> loginButtons}}
        .col-md-12
        .input-group.tournament-params
            input.form-control.tournament-name(type='text', value='Tournament Name', aria-describedby='player1_name', maxlength='20')
            .input-group.datetimepicker
                input.set-due-date.form-control.tournament-date(type='text')
                span.input-group-addon
                    span.glyphicon.glyphicon-calendar
        each tournamentvids
            div {{> TournamentVid }}

template(name="TournamentVid")
    .col-md-8
        canvas(id='thumbnail-{{_id}}',width='800', height='600', style='border:1px solid #000000;')
            | Your browser does not support the HTML5 canvas tag.
    .col-md-4
        .input-group.player1-input
            input.form-control.player1-name(type='text', value='{{p1_name}}', aria-describedby='player1_name', maxlength='20')
            select.form-control.player1-character
                each characters p1_char
                    option(value=id, selected='{{isSelected this}}') {{ name }}
        .input-group.player2-input
            input.form-control.player2-name(type='text', value='{{p2_name}}', aria-describedby='player2_name', maxlength='20')
            select.form-control.player2-character
                each characters p2_char
                    option(value=id, selected='{{isSelected this}}') {{ name }}
        select.form-control.match-type
            each match_types
                option(value=name) {{ name }}
        input.video-file(type='file', name='fileInput')

template(name='Upload')
    .container
        .navbar.navbar-default.navbar-static-top(role='navigation')
            .container-fluid
                .navbar-brand(href="/") Video Uploading
                .navbar-right.login {{> loginButtons}}
        each uploadProgresses
            p {{title}}
            .progress
                .progress-bar.active.progress-bar-striped(role='progressbar', aria-valuenow='{{progress}}', aria-valuemin='0', aria-valuemax='100', style='min-width: 2em; width: {{progress}}%;') {{progress}}%
